
<p style="padding: 10px; background-color: black; color: white; font-family: bookman 	old style; font-size: 25px; font-weight: bold;">Modulo Apartamento</p>
	<center><p style="padding: 10px; background-color: #ABA7A7; color: black; font-family: bookman 	old style; font-size: 20px; font-weight: bold;">ID:XXX<br>
	<br><b>Datos del Due&ntilde;o</b><br>
	<br>Nombre: xxxxx
	<br>Apellido: xxxxx
	<br>Numero de Telefono: (xxxx) - xxx - xxxx
	<br>E-Mail: x@x.com</p></center>
	<br><b><center><h3>Caracteristicas</h3></center></b>
	<br>Tama&ntilde;o <input name="name" type=text size=8> Mt<sup>2</sup><br>
	<br><form>Habitaciones
		<input name="respuesta" type=radio value="1">1
		<input name="respuesta" type=radio value="2">2
		<input name="respuesta" type=radio value="3">3
		<input name="respuesta" type=radio value="4">4</form>
	<br><form>Ba&ntilde;os
		<input name="respuesta" type=radio value="1">1
		<input name="respuesta" type=radio value="2">2
		<input name="respuesta" type=radio value="3">3
		<input name="respuesta" type=radio value="4">4</form>
	<br><form>Salas
		<input name="respuesta" type=radio value="1">1
		<input name="respuesta" type=radio value="2">2</form>
	<br>Cocina: Si<br>
	<br><form>Lavandero 
		<input name="respuesta" type=radio value="si"> Si
		<input name="respuesta" type=radio value="No"> No</form>
	<br><form>Comedor 
	<input name="respuesta" type=radio value="si"> Si
	<input name="respuesta" type=radio value="no"> No</form>
	<br><form>Maletero 
	<input name="respuesta" type=radio value="si"> Si
	<input name="respuesta" type=radio value="no"> No</form>
	<br><form>Casillero 
	<input name="respuesta" type=radio value="si"> Si
	<input name="respuesta" type=radio value="no"> No</form>
	<br><form>Puesto Estacionamiento
		<input name="respuesta" type=radio value="1">1
		<input name="respuesta" type=radio value="2">2</form>
	<br>Alicuota: xxxx<br>
	<br><center><input type="submit" value="Volver">
	<input type="submit" value="Guardar">
	<input type="submit" value="Salir"></center>
