<h1>Buzón de entrada</h1>
<!-- <center>
	<div class="table-responsive">
	  <table class="table">
	  <tr>
	  	<td> <input type="checkbox"> </td>
	  	<td>Hola Pedro Perez</td>
	  	<td>Administrador</td>
	  	<td>Que tal, es el administrador te active el servicio del salon de fiestas y esta disponible....</td>  	
	  	<td>Mar 1</td>
	  </tr>
	  <tr>
	  	<td> <input type="checkbox"> </td>
	  	<td>Factura de vencimiento</td>
	  	<td>Administrador</td>
	  	<td>Sr Pedro Perez, Se le anuncia que su  factura  de mensualidad de los servicios  adquiridos esta por vencerse</td>  	
	  	<td>Feb 2</td>
	  </tr>
	    <tr>
	    <td> <input type="checkbox"> </td>
	  	<td>Reunion Importante</td>
	  	<td>Administrador</td>
	  	<td>Sr Pedro Perez, Se le anuncia que tendremos reunion el viernes a las 9:00am</td>  
	  	<td>Feb 1</td>	
	  </tr>
	  </table>
	</div>
</center> -->
<button class="btn">
	<span class="glyphicon glyphicon-hand-left"></span>Atras
</button>


<h6>Para: Pedro Perez</h6>
<h6>De: Administrador</h6>
<h6>Titulo: Factura de vencimiento</h6>
<h6>Fecha:Feb 2 9:56am </h6>
	
		
	<form role="form">
		<textarea class="form-control" rows="10" cols="50" placeholder="Descripcion">
			Sr Pedro Perez, Se le anuncia que su  factura  de mensualidad de los servicios  adquiridos esta por vencerse
		</textarea>
	<form>


<footer>
	<button type="submit" class="btn btn-danger">Eliminar </button> <button type="submit" class="btn">Marcar Como no Leido </button>
</footer>
