
<script type="text/javascript" src="js/web/buzon-entrada.js"></script>
<script type="text/javascript" src="js/web/buzonentradaCtrl.js"></script>
<script type="text/javascript">
	eventos();
</script>

<h1>Buzón de entrada</h1>

<div class="row barra-pers2"  ng-controller="buzonentradaCtrl" id="panelbuscar">
  <div class="col-lg-4">
      <div class="input-group">
	     Simple <input type="radio" id="simple" checked="checked">
		Fecha <input type="radio" id="fecha">
	</div> 
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4">

   		<div  style="display: none;" id="busquedapofecha2" class="form-inline">		    	
		   <i class="glyphicon glyphicon-calendar"></i> Desde
		   <input ng-model="nuevo.fecha"   ng-click="Calendario(nuevo)"   type="text" class="form-control input-sm"  id="fechadesde" placeholder="Presione aqui" data-date-format="dd/MM/yyyy" bs-datepicker requiered>
		</div>

    </div>
    <div class="col-lg-4">

		  <div  style="display: none;" id="busquedapofecha" class="form-inline">				  
		 	  <i class="glyphicon glyphicon-calendar"></i> Hasta
			   <input ng-model="nuevo.fecha2"  ng-click="Calendario2(nuevo)"     type="text" class="form-control input-sm"  id="fechahasta" placeholder="Presione aqui" data-date-format="dd/MM/yyyy" bs-datepicker requiered>	
			   <button class="btn btn-default btn-sm" type="button" id="buscarporfecha" ng-click="BuscarPorFecha(nuevo)"  data-ui-ladda="loading">Encontrar</button>			   
	     </div> 


	     <div class="input-group" id="busquedasimple">
		      <input    type="text" class="form-control input-sm"  id="tbuscar" placeholder="Titulo, Descripcion y   presione encontrar">
		      <span class="input-group-btn">
		        <button class="btn btn-default btn-sm" type="button" id="buscar" >Encontrar</button>
		      </span>
	     </div>

     </div> 
</div>
		<div id="mensajeabierto" style="display:none;">
			<button class="btn" id="atras"  >
				<span class="glyphicon glyphicon-hand-left"></span>Atras
			</button>	
			<h6>De: <label id="de"></label></h6>
			<h6>Titulo: <label id="titulo"></label></h6>
			<h6>Fecha: <label id="fecha1"></label> </h6>			
			<form role="form">
				<div class="form-control" style="height:300px; overflow: auto; " placeholder="Descripcion" id="descripcion">				
				</div>
			<form>

			<br>
			<footer>

				 <button type="submit" class="btn" id="marcar">Marcar Como no Leido </button>
			</footer>
		</div>

		<center id="mensajes">
			<div   class="table-responsive"  id="contenido">
			 
			</div>
			
		</center>
		<div id="paginas" style="position: absolute; right: 20px;">
			
		</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">¿Esta seguro que desea eliminar este mensaje?</h4>
	      </div>
	      <div class="modal-body" id="bodymensaje" style="overflow: auto;">
	        
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <button id="confirmacion" type="button" class="btn btn-primary" >Eliminar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>


