<h1>Buzón de entrada</h1>

<script type="text/javascript">
	
	$(document).ready(function () {
		 $.ajax
        ({
        type: "POST",
        url: "models/consultas-crearMensaje.php",
        data: {id:6},
        async: false,
        dataType: "json",
        success:
        function (msg) 
        {       
         
           var table=$('<table class="table" ></table>');

           for(i=0; i<msg[0].m; i++){

           	var tr=$('<tr></tr>');
           	var td1=$('<td ></td>').text(msg[i].asunto);
           	var td2=$('<td></td>').text("administrador");
           	var td3=$('<td></td>').text(msg[i].descripcion);
           	var td4=$('<td></td>').text(msg[i].fecha);

           	tr.append(td1);
           	tr.append(td2);
           	tr.append(td3);
           	tr.append(td4);
           	table.append(tr);
           }
          
          $('#contenido').append(table);
        },
        error:
        function (msg) {alert( msg +"No se pudo realizar la conexion");}
        });
	});

</script>
<center>
	<div class="table-responsive" id="contenido">
	 
	</div>
</center>
<!-- <button class="btn">
	<span class="glyphicon glyphicon-hand-left"></span>Atras
</button>


<h6>Para: Pedro Perez</h6>
<h6>De: Administrador</h6>
<h6>Titulo: Factura de vencimiento</h6>
<h6>Fecha:Feb 2 9:56am </h6>
	
		
	<form role="form">
		<textarea class="form-control" rows="10" cols="50" placeholder="Descripcion">
			Sr Pedro Perez, Se le anuncia que su  factura  de mensualidad de los servicios  adquiridos esta por vencerse
		</textarea>
	<form>


<footer>
	<button type="submit" class="btn btn-danger">Eliminar </button> <button type="submit" class="btn">Marcar Como no Leido </button>
</footer> -->
