<h1>Crear sección</h1>
    
<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">

 <script type="text/javascript">
         $(function() {
            $('.summernote').summernote({
                height: 200,
                lang: 'es-ES'
              });  
         });
</script>
<div class="col-md-12">
    <form role="form">
  <label>Titulo</label><input ng-model="seccion.titulo" type="text" id="Titulo" class="form-control" placeholder="Titulo">
  <textarea  ng-model="seccion.contenido"class="summernote form-control" rows="10" cols="50" placeholder="Descripcion de seccion" >
  </textarea>
  <button class="btn btn-primary" ng-click="GuardarSeccion(seccion)">Enviar</button>
    <form>
</div>