<script src="js/web/UsuarioCrearCtrl.js"></script>
<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<div ng-controller="UsuarioCrearCtrl">
    <h1> Crear Usuario</h1>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group col-sm-10">
                Cedula: <input type="text" name="cedula" required="" value="" class="form-control" ng-model="datos.nuevoUsuario.cedula"/><br>
                Nombre: <input type="text" name="nombre" required="" value="" class="form-control" ng-model="datos.nuevoUsuario.nombre"/><br>
                Apellido: <input type="text" name="apellido" required="" value="" class="form-control" ng-model="datos.nuevoUsuario.apellido"/><br>
                Correo: <input type="text" name="correo" required="" value="" class="form-control" ng-model="datos.nuevoUsuario.correo"/><br>
                Contraseña: <input type="password" name="clave" required="" class="form-control" ng-model="datos.nuevoUsuario.clave"/><br>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item row no-select" ng-repeat="element in datos.telefonos">
                <p class="col-xs-2">{{element.Telefono}}</p>
                <p class="col-xs-2">{{element.Tipo}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="list-group-item" style="display: flex;">
                    <p class="col-xs-2">Telefono:</p>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                        <input type="text" name="Telefono" value="" ng-model="datos.nuevoTelefono.Telefono"/>
                    </div>
                    <div class="col-xs-3">
                        <input placeholder="Agregar Tipo" name="Tipo" list="ordenar" ng-model="datos.nuevoTelefono.Tipo">
                        <datalist id="ordenar">
                            <option value="Fijo"></option>
                            <option value="Celular"></option>
                        </datalist>
                    </div>
                    <div class="col-xs-4">
                        <a href="" ng-click="addTelefono(datos)">Agregar Número</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="cu">
                <tr>
                    <td class="celda">

                        Edificio: <input list="edificio" class="listas">
                        <datalist id="edificio">

                        </datalist>
                    </td>
                    <td class="celda">
                        Piso: <input list="apartamento" class="listas">
                        <datalist id="piso">

                        </datalist>
                    </td>
                    <td class="celda">
                        Apto: <input list="apartamento" class="listas">
                        <datalist id="apartamento">

                        </datalist>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <br>
            <table class="botones">
                <tr>
                    <td class="celdabotones">
                        <input type="submit" value="Aceptar" class="css_buttonaceptar" ng-click="addUsuario(datos)"/>
                    </td>
                    <td class="celdabotones">
                        <input type="submit" value="Cancelar" class="css_buttoncancelar"/>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>