<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<h1> Crear Usuario</h1>
<form class="form-horizontal" role="form">
    <div class="form-group col-sm-10">
        Cedula: <input type="text" name="cedula" value="" class="form-control" /><br>
        Nombre: <input type="text" name="nombre" value="" class="form-control" /><br>
        Apellido: <input type="text" name="apellido" value="" class="form-control" /><br>
        Correo: <input type="text" name="correo" value="" class="form-control" /><br>
        Contraseña: <input type="password" name="clave" class="form-control"/><br>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Telefono: <input type="text" name="telefono" value=""/>
        </div>
        <div class="col-sm-4">
            <input placeholder="Agregar Tipo" list="ordenar">
            <datalist id="ordenar">
                <option value="Fijo"></option>
                <option value="Celular"></option>
            </datalist>
        </div>
        <div class="col-sm-4">
            <a href="">Agregar Número</a>
        </div>
    </div>
    <table class="cu">
        <tr>
            <td class="celda">

                Edificio: <input list="edificio" class="listas">
                <datalist id="edificio">

                </datalist>
            </td>
            <td class="celda">
                Piso: <input list="apartamento" class="listas">
                <datalist id="piso">

                </datalist>
            </td>
            <td class="celda">
                Apto: <input list="apartamento" class="listas">
                <datalist id="apartamento">

                </datalist>
            </td>
        </tr>
    </table>
    <br>
    <div>
        <table class="botones">
            <tr>
                <td class="celdabotones">
                    <input type="submit" value="Aceptar" class="css_buttonaceptar"/>
                </td>
                <td class="celdabotones">
                    <input type="submit" value="Cancelar" class="css_buttoncancelar"/>
                </td>
            </tr>
        </table>
    </div>
</form>
