<script src="js/web/PaginaPrincipalCrearSeccionesCtrl.js"></script>

<h1>Crear sección</h1>

<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">

<script type="text/javascript">
$(function() {
  $('.summernote').summernote({
    height: 200,
    lang: 'es-ES'
  });  
});
</script>
<div ng-controller="PaginaPrincipalCrearSeccionesCtrl">
  <div class="col-md-12 ">
    <form role="form">
      <label>Titulo</label><input ng-model="nuevaSeccion.Titulo" type="text" id="Titulo" class="form-control" placeholder="Titulo">
      <textarea  ng-model="nuevaSeccion.Contenido" class="summernote form-control" rows="10" cols="50" placeholder="Descripcion de seccion" >
      </textarea>
      <button class="btn btn-primary" ng-click="GuardarSeccion(nuevaSeccion)">Guardar</button>
    </form>
  </div>
</div>