<script src="js/web/EdificioDetalleCtrl.js"></script>
<div class="inline-block form-horizontal" ng-controller="EdificioDetalleCtrl">
    <h1>Detalle Edificio</h1>
    <div class="form-group">
        <label class="col-sm-4 control-label">Nombre</label>
        <div class="col-sm-8">
            <p class="form-control-static">{{edificio.Nombre}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4 control-label">Cantidad De Pisos</label>
        <div class="col-xs-8">
            <p class="form-control-static">{{edificio.NroDePisos}}</p>
        </div>
    </div>
</div>