<script src="js/web/GastosActualesCtrl.js"></script>
<link rel="stylesheet" href="assets/checkd-list-group-bootstrap/cheked-list-group.css"/>
<div ng-controller="GastosActualesCtrl">
    <h1>Gastos actuales</h1>
    <h2>{{datos.Mes}}</h2>
    <div class="barra-pers2">
        <!--<a class="btn btn-default btn-sm btn-responsive" href="">Agregar</a>-->
        <button type="button" class="btn btn-default btn-sm btn-responsive" ng-click="all(true)">Seleccionar todo</button>
        <button type="button" class="btn btn-default btn-sm btn-responsive" ng-click="all(false)">Deseleccionar todo</button>
        <a class="btn btn-default btn-sm btn-responsive" ng-disabled="desactivado" ng-click="showModalBorrar()">Eliminar</a>
    </div>
    <div class="list-group">
        <div class="list-group-item row no-select" ng-repeat="element in datos.gastos" >
            <input ng-change=check() ng-model="element.select" class="col-xs-1" type="checkbox"/>
            <p class="col-xs-1">{{element.idGasto}}</p>
            <p ng-hide="element.editing['Nombre']" ng-dblclick="setEditing(element, 'Nombre', true)" class="col-xs-2 pointer">{{element.Nombre}}</p>
            <div class="col-xs-2" ng-show="element.editing['Nombre']">
                <!--<input focus-me="element.editing['Nombre']" ng-blur="setEditing(element, 'Nombre', false)" class="form-control" ng-model="element.Nombre"/>-->
                <select focus-me="element.editing['Nombre']" ng-blur="setEditing(element, 'Nombre', false)" data-live-search="true" class="form-control" data-style="form-control" ng-model="element.Nombre" ng-change="getIdGasto(element)">
                    <option ng-repeat="gasto in gastos" value="{{gasto.Nombre}}">{{gasto.Nombre}}</option>
                </select>
            </div>
            <p ng-hide="element.editing['Precio']" ng-dblclick="setEditing(element, 'Precio', true)" class="col-xs-1">{{element.Precio}}</p>
            <div class="col-xs-1" ng-show="element.editing['Precio']">
                <input focus-me="element.editing['Precio']" ng-blur="setEditing(element, 'Precio', false)" class="form-control" ng-model="element.Precio" type="number"/>
            </div>
            <tags-input class="col-xs-5" ng-model="element.sitios" placeholder="Agrega un sitio" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" max-results-to-show="20"></auto-complete>
            </tags-input>
            <a href="" class="col-xs-2">¿No consigues lo que buscas?</a>

        </div>
        <form name="g" class="list-group-item row">
            <p class="col-xs-1 col-xs-offset-1">{{nuevo.idGasto}}</p>
            <div class="col-xs-2">
                <input name="nombre" requiered type="text" list="list-1" ng-change="getIdGasto(nuevo)" class="form-control" ng-model="nuevo.Nombre"/>
                <datalist id="list-1">
                    <option ng-repeat="gasto in gastos" value="{{gasto.Nombre}}">{{gasto.idGasto}}</option>
                </datalist>
            </div>
            <div class="col-xs-1">
                <input name="precio" required ng-pattern="/^\d+$/" class="form-control" ng-model="nuevo.Precio"/>
            </div>
            <tags-input class="col-xs-5" ng-model="nuevo.sitios" placeholder="Agrega un sitio" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" max-results-to-show="100"></auto-complete>
            </tags-input>
            <a ng-disabled="g.nombre.$invalid || g.precio.$invalid" ng-click="addGasto(nuevo)" class="col-xs-2 btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Agregar</span>
            </a>
        </form>
    </div>
</div>
<!--<script src="assets/checkd-list-group-bootstrap/checked-list-group.js"></script>-->
<script src="js/bootstrap-select.min.js"></script>