<script src="js/web/GastosActualesCtrl.js"></script>
<link rel="stylesheet" href="assets/checkd-list-group-bootstrap/cheked-list-group.css"/>
<div ng-controller="GastosActualesCtrl">
    <h1>Gastos actuales</h1>
    <h2>{{datos.Mes}}</h2>
    <div class="barra-pers2">
        <!--<a class="btn btn-default btn-sm btn-responsive" href="">Agregar</a>-->
        <button type="button" class="btn btn-default btn-sm btn-responsive" ng-click="all(true)">Seleccionar todo</button>
        <button type="button" class="btn btn-default btn-sm btn-responsive" ng-click="all(false)">Deseleccionar todo</button>
        <a class="btn btn-default btn-sm btn-responsive" ng-disabled="desactivado">Eliminar</a>
    </div>
    <div class="list-group">
        <div class="list-group-item row" ng-repeat="element in datos.gastos">
            <input ng-change=check() ng-model="element.select" class="col-xs-1" type="checkbox"/>
            <p class="col-xs-1">{{element.idGasto}}</p>
            <p ng-hide="element.editing['Nombre']" ng-dblclick="setEditing(element, 'Nombre', true)" class="col-xs-2 pointer">{{element.Nombre}}</p>
            <div class="col-xs-2" ng-show="element.editing['Nombre']">
                <input ng-blur="setEditing(element, 'Nombre', false)" class="form-control" ng-model="element.Nombre"/>
            </div>
            <p ng-hide="element.editing['Precio']" ng-dblclick="setEditing(element, 'Precio', true)" class="col-xs-1">{{element.Precio}}</p>
            <div class="col-xs-1" ng-show="element.editing['Precio']">
                <input ng-blur="setEditing(element, 'Precio', false)" class="form-control" ng-model="element.Precio" type="number"/>
            </div>
            <tags-input class="col-xs-5" ng-model="element.sitios" placeholder="Agrega un sitio" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" max-results-to-show="20"></auto-complete>
            </tags-input>
            <a href="" class="col-xs-2">¿No consigues lo que buscas?</a>

        </div>
        <div class="list-group-item row">
            <p class="col-xs-1 col-xs-offset-1">{{nuevo.idGasto}}</p>
            <div class="col-xs-2">
                <input type="text" list="list-1" ng-change="getIdGasto(nuevo)" class="form-control" ng-model="nuevo.Nombre"/>
                <datalist id="list-1">
                    <option ng-repeat="gasto in gastos" value="{{gasto.Nombre}}">{{gasto.idGasto}}</option>
                </datalist>
            </div>
            <div class="col-xs-1">
                <input class="form-control" ng-model="nuevo.Precio"/>
            </div>
            <tags-input class="col-xs-5" ng-model="element.sitios" placeholder="Agrega un sitio" add-from-autocomplete-only="true" replace-spaces-with-dashes="false">
                <auto-complete source="loadTags($query)" max-results-to-show="100"></auto-complete>
            </tags-input>
            <!--<a href="" id="w" ng-click="addGasto(nuevo)" class="btn btn-primary col-xs-2" data-style="expand-left" ladda data-ng-model="loading"><span class="ladda-label">Agregar</span><span class="spinner"></span></a>-->
            <button ng-click="addGasto(nuevo)" class="col-xs-2 btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Submit</span>
                <!--<span class="spinner"></span>-->
            </button>
        </div>
    </div>
</div>
<!--<script src="assets/checkd-list-group-bootstrap/checked-list-group.js"></script>-->
