<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <h1>Pagar Servicios</h1>
    <form class="form-horizontal" role="form" ng-controller="GestionarServiciosCtrl">
        <br>
        <div class="form-group"> <!-- SERVICIOS A PAGAR DEL USUARIO -->
            <label  class="col-md-1 control-label text-right">Servicios Solicitados</label>
            <div class="col-md-7">
                <select class="form-control">
                    <!--<option ng-repeat="tipoServicio in servicios.tipoServicio">{{tipoServicios.tipoServicio}}</option>-->

                </select>
            </div>
        </div>

        <div class='panel panel-primary'>
            <div class='panel-heading'>Personas</div>
            <div class='panel-body'>
                <div class='table-responsive'>
                    <table class='table table-hover'>
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Fecha</th>
                                <th>Monto(Bs)</th>

                            </tr>
                        </thead>
                        <tbody class='tbody-personas'>

                        </tbody>
                    </table> 
                </div>
            </div>

        </div>


        <input type="checkbox" name="vehicle" value="Bike">Cheque<br>
        <input type="checkbox" name="vehicle" value="Car">Transferencia<br> 

        <div class="form-group"><!-- AGREGAR NOMBRE -->
            <br>
            <label for="inputName" class="col-sm-1 control-label">Codigo:</label>
            <div class="col-sm-7">
                <input ng-model="servicio.nombre" type="text" class="form-control" id="inputName" placeholder="Nro de Deposito o transferencia">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id='bCerrar' class="btn btn-default" data-dismiss="modal" >Procesar Pago</button>
        </div>

    </form>
</html>
