<!--modulo Cartelera mensajes publicados por el admin unicamente-->
<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">
 <script src="js/web/carteleractrl.js"></script>
 <script type="text/javascript">
         $(function() {
            $('.summernote').summernote({
                height: 200,
                lang: 'es-ES'
              });  
         });   

         function publicar(){

            console.log($('.summernote').code(""));
         }  
        eventos();   
</script>

<h1>Cartelera</h1>
<!--Division entre crear el mensaje y los mensajes publicados-->

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
   <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Publicar un nuevo Anuncio
                </a>
                <script>
                    $('.accordion-toggle').on('click', function(event) {
                        event.preventDefault();
                    });
                </script>


            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <div Align="center">
                                        <textarea class="summernote form-control" rows="10" cols="50" required ng-model="post.content" placeholder="Haga un anuncio aqui"></textarea>
                                    </div>
                                </div>
                               
                                <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Restringir Publicacion</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4>Seleccionar restricciones de mensaje</h4>
                                                <div class="modal-body">
                                                  <table class="table">
                                                    <thead>
                                                      <th>Edificios</th>
                                                      <th>Pisos</th>
                                                      <th>Apartamentos</th>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td>
                                                          <select id="Edificios" multiple>
                                                        </select>
                                                        </td>
                                                        <td>
                                                          <select id="Pisos" multiple>
                                                        </select>
                                                        </td>
                                                        <td>
                                                          <select id="Apartamentos" multiple>
                                                        </select>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">Aceptar </button>
                                                    <button type="button" class="btn btn-info " data-dismiss="modal"> Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                              
                                <button type="submit" class="button large-12" onclick="publicar()">Publicar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<div class="well well-sm">
  <div> 
        <h4><b>Titulo de la noticia</b></h4>
    </div>
    <div style="height:120px;  overflow: auto; border:1px solid #ccc; border-top-left-radius: 4px;     border-bottom-left-radius: 4px;     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; " class="form-control "> 

    Button addons
Buttons in input groups are a bit different and require one extra level of nesting. Instead of .input-group-addon, you'll need to use .input-group-btn to wrap the buttons. This is required due to default browser styles that cannot be overridden.
Navs

Navs available in Bootstrap have shared markup, starting with the base .nav class, as well as shared states. Swap modifier classes to switch between each style.
Navbar

Default navbar
Navbars are responsive meta components that serve as navigation headers for your application or site. They begin collapsed (and are toggleable) in mobile views and become horizontal as the available viewport width increases.
    </div>
    <a type="button" class="btn btn-default btn-xs" href="#/panel/crear-mensaje">
        <span class="glyphicon glyphicon-envelope"></span> 
    </a>
     <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModaleliminar">Eliminar</button>
     <div class="modal fade" id="myModaleliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <b> <h4 class="modal-title" id="myModalLabel">Aviso</h4></b>
      </div>
      <div class="modal-body">
        Esta seguro de querer eliminar el mensaje
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>
</div>

 <br>
<ul class="pager">
  <li class="previous"><a href="#">&larr; Anterior</a></li>
  <li class="next"><a href="#">Siguiente &rarr;</a></li>
</ul>

</div>