<!--modulo Cartelera mensajes publicados por el admin unicamente-->
<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">

		<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
		<link rel="stylesheet" href="css/prettify.css" type="text/css">

		<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
		<script type="text/javascript" src="js/prettify.js"></script>
           <script src="js/web/carteleractrl.js"></script>      
 <script type="text/javascript">
     
         $(function() {
            $('.summernote').summernote({
                height: 200,
                lang: 'es-ES'
              });  
         });   

         function publicar(){

            console.log($('.summernote').code(""));
         }  
        eventos();   
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.multiselect').multiselect();
  });
</script>



<h1>Cartelera</h1>
<!--Division entre crear el mensaje y los mensajes publicados-->

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
   <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Publicar un nuevo Anuncio
                </a>
                <script>
                    $('.accordion-toggle').on('click', function(event) {
                        event.preventDefault();
                    });
                </script>


            </div>
            <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <div Align="center">
                                         <input  type="text"  class="form-control" placeholder="Titulo" id="titulo">
                                        <textarea class="summernote form-control" rows="10" cols="50" placeholder="Haga un anuncio aqui"></textarea>
                                    </div>
                                </div>
                               
                                <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Restringir Publicacion</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4>Seleccionar restricciones de mensaje</h4>
                                                <div class="modal-body">

                                                  <table class="table">
                                                    <tr>
                                                      <td>Por Edificios<input type="checkbox" value="1"  id="chkEdificio" checked ></td>
                                                      <td>Por Piso<input type="checkbox" value="2"  id="ckPiso"  ></td>
                                                      <td>Por apartamentos<input type="checkbox" value="3"  id="ckApartamentos"></td>
                                                    </tr>
                                                    <tr>
                                                      <td>
                                                        <select id="Edificios" multiple="false" style="width:120px;"></select>
                                                      </td>
                                                      <td>
                                                        </div><select id="Pisos" multiple="multiple" style="width:120px; display:none;" ></select>
                                                      </td>
                                                      <td>
                                                          <select id="Apartamentos" multiple="multiple" style="width:120px; display:none;" ></select>
                                                        </td>
                                                    </tr>

                                                  </table>
                                                  

                                                  

                                                  
                                                  
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" id="publicar">Publicar </button>
                                                    <button type="button" class="btn btn-info " data-dismiss="modal"> Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                              
                               
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


<div class="well well-sm" id="contenedor2">
     
    
</div>




 <br>
<ul class="pager">
  <li class="previous"><a href="#">&larr; Anterior</a></li>
  <li class="next"><a href="#">Siguiente &rarr;</a></li>
</ul>

</div>



 <div class="modal fade" id="myModaleliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><b>Aviso</b></h4>
      </div>
      <div class="modal-body">
        Esta seguro de querer eliminar el mensaje
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<!--
<script>
    $(document).ready(function() {
                    
			 $('#Edificios').multiselect({
			            buttonText: function(options) {
			                if (options.length === 0) {
			                    return 'None selected <b class="caret"></b>';
			                }
			                else if (options.length > 6) {
			                    return options.length + ' selected  <b class="caret"></b>';
			                }
			                else {
			                    var selected = '';
			                    options.each(function() {
			                        selected += $(this).text() + ', ';
			                    });

			                    return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
			                }
			            },
			            onChange: function(element, checked) {
			                if(checked === true) {
			                    //action taken here if true
			                }
			                else if(checked === false) {
			                    if(confirm('¿desea deseleccionar este elemento?')) {
			                        //action taken here
			                    }
			                    else {
			                        $("#Edificios").multiselect('select', element.val());
			                    }
			                }
			            }
			        });
                    
                    var firstConfigurationSet = {
                        includeSelectAllOption: false,
                        enableFiltering: false
                    };
                    var secondConfigurationSet = {
                        includeSelectAllOption: true,
                        enableFiltering: true
                    };
                    
                    var set = 1;
                     $('#Pisos').multiselect({
                  buttonText: function(options) {
                      if (options.length === 0) {
                          return 'None selected <b class="caret"></b>';
                      }
                      else if (options.length > 6) {
                          return options.length + ' selected  <b class="caret"></b>';
                      }
                      else {
                          var selected = '';
                          options.each(function() {
                              selected += $(this).text() + ', ';
                          });

                          return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
                      }
                  },
                  onChange: function(element, checked) {
                      if(checked === true) {
                          //action taken here if true
                      }
                      else if(checked === false) {
                          if(confirm('¿desea deseleccionar este elemento?')) {
                              //action taken here
                          }
                          else {
                              $("#Pisos").multiselect('select', element.val());
                          }
                      }
                  }
              });
                    
                   
                    
                   
                     $('#Apartamentos').multiselect({
                  buttonText: function(options) {
                      if (options.length === 0) {
                          return 'None selected <b class="caret"></b>';
                      }
                      else if (options.length > 6) {
                          return options.length + ' selected  <b class="caret"></b>';
                      }
                      else {
                          var selected = '';
                          options.each(function() {
                              selected += $(this).text() + ', ';
                          });

                          return selected.substr(0, selected.length -2) + ' <b class="caret"></b>';
                      }
                  },
                  onChange: function(element, checked) {
                      if(checked === true) {
                          //action taken here if true
                      }
                      else if(checked === false) {
                          if(confirm('¿desea deseleccionar este elemento?')) {
                              //action taken here
                          }
                          else {
                              $("#Apartamentos").multiselect('select', element.val());
                          }
                      }
                  }
              });
                    
                  
                   });
			</script>
                    -->    
                        
                        
                        