<script src="js/web/ApartamentoInicioCtrl.js"></script>

<div ng-controller="ApartamentoInicioCtrl">
    <h1> Dirección de Apartamento</h1>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="Select_La_Torre" class="col-lg-2 control-label">Torre</label>
            <div class="col-lg-10">
                <select ng-model="Lista.edificio" name="edificio" ng-options="edificio.idEdificio as edificio.Nombre for edificio in datos.edificios" 
                        class="form-control" data-style="form-control">
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="Select_El_Piso" class="col-lg-2 control-label">Piso</label>
            <div class="col-lg-10">
                <select class="form-control" data-style="form-control">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Número</label>
            <div class="col-lg-10">
                <select ng-options="apartamento.idApartamento as apartamento.Nombre for apartamento in datos.apartamentos" 
                        class="form-control" data-style="form-control">
                </select>
            </div>
        </div>
    
	<a  ng-click="ListarApartamento()" class="btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Listar Apartamentos</span>
        </a>	
        <a ng-click="AgregarApartamento()" class="btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Agregar - Editar</span>
        </a>
    </form>            	
</div>