<script src="js/web/ApartamentoInicioCtrl.js"></script>

<div ng-controller="ApartamentoInicioCtrl">
    <h1> Dirección de Apartamento</h1>
    <form class="form-horizontal" role="form" ng-submit="ListarApartamento(Lista)">
        <div class="form-group">
            <label class="col-lg-2 control-label">Torre</label>
            <div class="col-lg-10">
                <select ng-change="obtenerPisos()" ng-model="Lista.idEdificio" name="edificio" ng-options="edificio.idEdificio as edificio.Nombre for edificio in datos.edificios" class="form-control" data-style="form-control" required>
                <option value="">-- Seleccione torre --</option>
            </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-2 control-label">Piso</label>
            <div class="col-lg-10">
                <select ng-change="obtenerApartamentos()" ng-model="Lista.Piso" name="piso" ng-options="piso.Numero as piso.Numero for piso in datos.pisos" class="form-control" data-style="form-control">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Apartamento</label>
            <div class="col-lg-10">
                <select ng-model="Lista.idApartamento" name="apartamento" ng-options="apartamento.idApartamento as apartamento.Nombre for apartamento in datos.apartamentos | filter:{Piso: datos.filtroPiso, idEdificio: datos.filtroEdificio}" class="form-control" data-style="form-control">
                </select>
            </div>
        </div>
    
	<input  type="submit" ng-submit class="btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading" value="Listar Apartamentos" />
    <a ng-click="AgregarApartamento()" class="btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
        <span class="ladda-label">Agregar</span>
    </a>
    </form>            	
</div>