<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<h1>Lista De Usuarios</h1>
<form>
    <div class="col-sm-12">
        <div class="col-sm-3">
            Ordenar Por: <input list="ordenar">
            <datalist id="ordenar">
                <option value="Id"></option>
                <option value="Nombre"></option>
                <option value="Apto"></option>
            </datalist><br><br><br><br><br>
        </div>
        <div class="col-sm-3">
            Edificio: <input list="edif">
            <datalist id="ordenar">

            </datalist><br><br><br><br><br>
        </div>
        <div class="col-sm-3">
            Piso: <input list="piso">
            <datalist id="ordenar">

            </datalist><br><br><br><br><br>
        </div>
        <div class="col-sm-2">
            Apto: <input list="apto">
            <datalist id="ordenar">

            </datalist><br><br><br><br><br>
        </div>
    </div>
    <div class="list-group col-sm-12">
        <a style="display: flex;" class="list-group-item">
            <p class="col-sm-1">1</p>
            <p class="col-sm-3">mariangela diaz</p>
            <p class="col-sm-3">marinageladiaz@gmail.com</p>
            <div class="col-sm-5">
                <div class="col-sm-12">
                    <p class="col-sm-8">Las Flores</p>
                    <p class="col-sm-4">1-A</p>
                </div>
                <div class="col-sm-12">
                    <p class="col-sm-8">La Palma</p>
                    <p class="col-sm-4">3-A</p>
                </div>
            </div>


        </a>
        <a style="display: flex;" class="list-group-item"></a>
        <a style="display: flex;" class="list-group-item"></a>
        <a style="display: flex;" class="list-group-item"></a>
        <a style="display: flex;" class="list-group-item"></a>
    </div>
    <table class="botonlistausuario2">
        <tr>
            <td>
                <input type="submit" value="Salir" class="css_buttonaceptar"/>
            </td>
        </tr>
    </table>


</form>