<script src="js/web/ApartamentoListarCtrl.js"></script>
<link rel="stylesheet" href="assets/checkd-list-group-bootstrap/cheked-list-group.css"/>
<div ng-controller="ApartamentoListarCtrl">
    <form class="form-horizontal" role="form">
    <h1> Lista Apartamento</h1>
     <div class="list-group text-center">
        <div class="list-group-item row no-select active cabecera">
            <span class="badge pull-left">#</span>
            <p ng-dblclick="" class="col-xs-2">Id</p>
            <p ng-dblclick="" class="col-xs-2">Tipo</p>
            <p ng-dblclick="" class="col-xs-2">Tamano</p>
            <p ng-dblclick="" class="col-xs-2">NumHabitaciones</p>
            <p ng-dblclick="" class="col-xs-2">NumBanos</p>
            <p ng-dblclick="" class="col-xs-2">Sala</p>
            <p ng-dblclick="" class="col-xs-2">Comedor</p>
            <p ng-dblclick="" class="col-xs-2">Cocina</p>
            <p ng-dblclick="" class="col-xs-2">Lavandero</p>
        </div>
    <div class="list-group">
        <div class="list-group-item row no-select" ng-repeat="element in datos.Apartamentos" >
    <p class="col-xs-1">{{element.idApartamento}}</p>
            <p class="col-xs-2 pointer">{{element.TipoApartamento}}</p>
            <p class="col-xs-2 pointer">{{element.Tamano}}</p>
            <p class="col-xs-2 pointer">{{element.NumHabitaciones}}</p>
            <p class="col-xs-2 pointer">{{element.NumBanos}}</p>
            <p class="col-xs-2 pointer">{{element.Sala}}</p>
            <p class="col-xs-2 pointer">{{element.Comedor}}</p>
            <p class="col-xs-2 pointer">{{element.Cocina}}</p>
            <p class="col-xs-2 pointer">{{element.Lavandero}}</p>
        </div>
        </div>
    </div>
    </form>    
</div>