<h1>Lista De Usuarios</h1>
<div class="row">
    <div class="col-md-3">
        Ordenar Por: <input list="ordenar" class="listas">
        <datalist id="ordenar">
            <option value="Id"></option>
            <option value="Nombre"></option>
            <option value="Apto"></option>
        </datalist><br><br><br><br><br>
    </div>
    <div class="col-md-3">
        Edificio: <input list="edif" class="listas">
        <datalist id="ordenar">

        </datalist><br><br><br><br><br>
    </div>
    <div class="col-md-3">
        Piso: <input list="piso" class="listas">
        <datalist id="ordenar">

        </datalist><br><br><br><br><br>
    </div>
    <div class="col-md-3">
        Apto: <input list="apto" class="listas">
        <datalist id="ordenar">

        </datalist><br><br><br><br><br>
    </div>
</div>
<div class="CSSTableGenerator" >
    <table>
        <tr>
            <td>
                Id
            </td>
            <td >
                Nombre y Apellido
            </td>
            <td>
                Correo
            </td>
            <td>
                Apartamento
            </td>
        </tr>
        <tr>
            <td >
                01
            </td>
            <td>
                Mariangela Diaz
            </td>
            <td>
                mariangeladiaz@gmail.com
            </td>
            <td>
                A-01
            </td>
        </tr>
        <tr>
            <td >
                01
            </td>
            <td>
                Mariangela Diaz
            </td>
            <td>
                mariangeladiaz@gmail.com
            </td>
            <td>
                A-01
            </td>
        </tr>
        <tr>
            <td >
                01
            </td>
            <td>
                Mariangela Diaz
            </td>
            <td>
                mariangeladiaz@gmail.com
            </td>
            <td>
                A-01
            </td>
        </tr>
        <tr>
            <td >
                01
            </td>
            <td>
                Mariangela Diaz
            </td>
            <td>
                mariangeladiaz@gmail.com
            </td>
            <td>
                A-01
            </td>
        </tr>
        <tr>
            <td >
                01
            </td>
            <td>
                Mariangela Diaz
            </td>
            <td>
                mariangeladiaz@gmail.com
            </td>
            <td>
                A-01
            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td >

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
<table class="botonlistausuario2">
    <tr>
        <td>
            <input type="submit" value="Salir" class="css_buttonaceptar"/>
        </td>
    </tr>
</table>


</form>