<script src="js/web/UsuarioLoginCtrl.js"></script>
<link href="css/signin.css" rel="stylesheet">
<div class="container" ng-controller="UsuarioLoginCtrl">
    <form class="form-signin" role="form" ng-submit="usuariologin(user)">
        <h2 class="form-signin-heading">Por favor, inicie sesión</h2>
        <input type="email" ng-model="user.Correo" class="form-control" placeholder="Dirección de correo" required autofocus>
        <input type="password" ng-model="user.Contrasena" class="form-control" placeholder="Contraseña" required>
        <!--<label class="checkbox">
            <input type="checkbox" ng-model="user.rebemberme"> Recordar
        </label>
        <a class="pull-right label-pers" href="" ng-click="forgotPassword()">¿Olvidó su contraseña?</a>-->
        <div class="row">
            <div class="col-xs-5 col-sm-5 rebember-pers">

                    <label class="checkbox">
                        <input type="checkbox" ng-model="user.rebemberme"> Recordar
                    </label>

            </div>
            <div class="col-xs-12 col-sm-7">
                <label class="checkbox">
                    <a href="#/web/usuario-recuperar-contrasena" class="t5 calibri-light" ng-click="forgotPassword()">¿Olvidó su contraseña?</a>
                </label>
            </div>
        </div>
        <button type="submit" ng-submit="usuariologin(user)" class="btn btn-lg btn-primary btn-block">Entrar</button>
    </form>
<!--
    Datos de prueba:
    Propietario<br>
    Usuario: mariangeladiaz@gmail.com<br>
    Pass: macarena<br><br>
    Administrador<br>
    Usuario: admin@admin.com<br>
    Pass: admin<br>
-->

</div>