<h1>Enviados</h1>

<center>
	<div class="table-responsive">
	  <table class="table">
	  <tr>
	  	<td> <input type="checkbox"> </td>
	  	<td>Adminstrador</td>
	  	<td>Hola Que tal, Muchas  administrador </td>  	
	  	<td>Mar 1</td>
	  </tr>
	  <tr>
	  	<td> <input type="checkbox"> </td>
	  	<td>FW: Factura de vencimiento</td>
	  	
	  	<td>Sr Pedro Perez, Se le anuncia que su  factura  de mensualidad de los servicios  adquiridos esta por vencerse</td>  	
	  	<td>Feb 2</td>
	  </tr>
	    <tr>
	    <td> <input type="checkbox"> </td>
	  	<td>Reunion Importante</td>	  	
	  	<td> Alli estare.</td>  
	  	<td>Feb 1</td>	
	  </tr>
	  </table>
	</div>
</center>
<footer>
	<button type="submit" class="btn btn-danger">Eliminar </button> 
</footer>