<form class="form-horizontal" role="form">
    <div class="form-group">
    <label class="col-lg-2 control-label">Nombre</label>
    <div class="col-lg-10">
        <input Type="text" name="nombre" class="form-control" value="" ng-model="edificio.Nombre"/>
    </div>
    </div>
    <div class="form-group">
    <label class="col-lg-2 control-label">Cantidad De Pisos</label>
    <div class="col-lg-10">
        <input Type="text" name="piso" value="" class="form-control" ng-model="edificio.CantidadPisos"/>  
    </div>
    </div>
</form>