<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<h1>Modificar Perfil</h1>
<form class="form-horizontal" role="form">
    <div class="form-group col-sm-10">
        Correo:<input type="text" name="correo" value="" class="form-control"/><br>
        Telefono:<input type="text" name="telefono" value="" class="form-control"/><br>
        Celular: <input type="text" name="celular" value="" class="form-control"/><br>
    </div>

    <table class="botonesmpu">
        <tr>
            <td class="celdabotones">
                <input  type="submit" value="Aceptar" class="css_buttonaceptar"/>
            </td>
            <td class="celdabotones">
                <input type="submit" value="Cancelar" class="css_buttoncancelar"/>
            </td>
        </tr>
    </table>
</form>
