<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<h1>Modificar Contraseña</h1>
<form class="form-horizontal" role="form">
    <div class="form-group col-sm-10">
        Contraseña Actual: <input type="password" name="claveactual" class="form-control"/><br>
        Contraseña Nueva: <input type="password" name="clavenueva" class="form-control"/><br>
        Confirmacion Contraseña Nueva: <input type="password" name="clavenueva" class="form-control"/><br>
    </div>
    <table class="botonesmpu">
        <tr>
            <td class="celdabotones">
                <input type="submit" value="Aceptar" class="css_buttonaceptar"/>
            </td>
            <td class="celdabotones">
                <input type="submit" value="Cancelar" class="css_buttoncancelar"/>
            </td>
        </tr>
    </table>
</form>
