<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">

<script type="text/javascript">
$(function() {
  $('.summernote').summernote({
    height: 200,
    lang: 'es-ES'
  });  
});
</script>

<h1>Modificar Pagina Principal</h1>


<div id="alerta">
      <div class="alert alert-info">
        Cambiar imagen de fondo
      </div>
</div>




<div id="alerta">
      <div class="alert alert-info">
        Cambiar Footer
      </div>
</div>

 <textarea  class="summernote form-control" rows="10" cols="50" placeholder="Descripcion del footer" >
      </textarea>