<script src="js/web/PagosPendientesCtrl.js"></script>
<div ng-controller="PagosPendientesCtrl">
    <h1>Consignaciones de Pagos Pendientes</h1>
    <div class="list-group text-center">
        <div class="list-group-item row no-select active cabecera">
            <span class="col-xs-1 badge pull-left">ID</span>
            <p ng-dblclick="" class="col-xs-3">Nombre y Apellido</p>
            <p ng-dblclick="" class="col-xs-2">Monto</p>
            <p ng-dblclick="" class="col-xs-2">Nro Referencia</p>
        </div>
        <div class="list-group-item row no-select" ng-repeat="element in datos.consignaciones" >
            <span class="col-xs-1 badge pull-left">{{element.idConsignacion}}</span>
            <p ng-dblclick="" class="col-xs-3">{{element.nombre}} {{element.apellido}}</p>
            <p ng-dblclick="" class="col-xs-2">Bs. {{element.monto}}</p>
            <p ng-dblclick="copiarPortaPapeles(element.nro_referencia)" class="col-xs-2 pointer">{{element.nro_referencia}}</p>
            <a ng-click="aceptarPago(element.idConsignacion)" class="btn btn-primary ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Aprobar</span>
            </a>
            <a ng-click="showModalRechazar(element.idConsignacion)" class="btn btn-danger ladda-button" data-style="zoom-in" data-ui-ladda="loading">
                <span class="ladda-label">Rechazar</span>
            </a>
        </div>
    </div>
</div>