<script src="js/web/PagosConsignacionesPendientesCtrl.js"></script>
<div ng-controller="PagosConsignacionesPendientesCtrl">
    <h1>Consignaciones Pendientes</h1>
    <div class="list-group text-center">
        <div class="list-group-item row active cabecera">
            <span class="col-xs-1 badge pull-left">ID</span>
            <p ng-dblclick="" class="col-xs-3">Nombre y Apellido</p>
            <p ng-dblclick="" class="col-xs-2">Monto</p>
            <p ng-dblclick="" class="col-xs-2">Nro Referencia</p>
        </div>
        <div class="list-group-item row " ng-repeat="element in datos.consignaciones" >
            <span class="col-xs-1 badge pull-left">{{element.idConsignacion}}</span>
            <p ng-dblclick="" class="col-xs-3">{{element.nombre}} {{element.apellido}}</p>
            <p ng-dblclick="" class="col-xs-2">Bs. {{element.monto}}</p>
            <p ng-dblclick="" class="col-xs-2">{{element.nro_referencia}}</p>
        </div>
    </div>
</div>