<script src="js/web/PagosConsignarCtrl.js"></script>

<h1>Consignar pagos</h1>
<div ng-controller="PagosConsignarCtrl">
    <form name="formConsignaciones" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-2 control-label">Concepto</label>
            <small class="requerido" ng-show="formConsignaciones.concepto.$error.required">*Indicar concepto</small>
            <div class="col-lg-10">
                <input ng-model="nuevo.concepto" name="concepto" required type="text" class="form-control" placeholder="">
                
            </div>
        </div>
        <div class="form-group">
            <label for="select_tipo_de_pago" class="col-lg-2 control-label">Tipo de pago</label>
            <small class="requerido" ng-show="formConsignaciones.idtipo.$error.required">*Seleccionar tipo de pago</small>
            <div class="col-lg-10">
                <select ng-model="nuevo.idtipo" name="idtipo" class="form-control"
                ng-options="tipoDePago.idtipo as tipoDePago.name for tipoDePago in datos.tiposDePagos"
                required>
            </select>
            
        </div>
    </div>
    <div class="form-group">
        <label for="input_nro_referencia" class="col-lg-2 control-label">Nro referencia</label>
        <small class="requerido" ng-show="formConsignaciones.nro_referencia.$error.required">*Indicar número de referencia o confirmación</small>
        <div class="col-lg-10">
            <input ng-model="nuevo.nro_referencia" name="nro_referencia" required ng-pattern="/^\d+$/" type="text" class="form-control" placeholder="">
        </div>
    </div>

    <div class="form-group">
        <label for="input_monto" class="col-lg-2 control-label">Monto</label>
        <small class="requerido" ng-show="formConsignaciones.monto.$error.required">*Indicar monto</small>
        <div class="col-lg-10">
            <div class="input-group">
                <span class="input-group-addon">Bs.</span>
                <input ng-model="nuevo.monto" name="monto" required ng-pattern="/^\d+$/" type="text" class="form-control" placeholder="">
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Banco</label>
        <small class="requerido" ng-show="formConsignaciones.monto.$error.required">*Seleccionar banco</small>
        <div class="col-lg-10">
            <select ng-model="nuevo.idbanco" name="idbanco" class="form-control"
            ng-options="banco.idbanco as banco.name for banco in datos.bancos"
            required>
        </select>
        
    </div>
</div>
<div class="form-group" ng-class="{'has-error': datepickerForm.fecha.$invalid}">
    <label class="col-lg-2 control-label" title="Fecha en la que se realizó el pago"><i class="fa fa-calendar"></i> Fecha</label>
    <small class="requerido" ng-show="formConsignaciones.fecha.$error.required">*Indicar fecha del pago</small>
    <div class="row">
        <div class="col-lg-10">
            <input ng-model="nuevo.fecha" name="fecha" type="text" class="form-control" data-date-format="dd/MM/yyyy" bs-datepicker requiered>
        </div>
    </div>
</div>
<a ng-disabled="formConsignaciones.concepto.$invalid || formConsignaciones.fecha.$invalid || formConsignaciones.idtipo.$invalid || formConsignaciones.nro_referencia.$invalid || formConsignaciones.monto.$invalid || formConsignaciones.idbanco.$invalid" ng-click="addConsignacion(nuevo)" class="col-xs-2 btn btn-primary ladda-button pull-right" data-style="zoom-in" data-ui-ladda="loading">
    <span class="ladda-label">Consignar Pago</span>
</a>
</form>
</div>

