<link href="css/sb-admin.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/editor/summernote.css">
<div id="wrapper" ng-controller="PanelCtrl">
    <header ng-include src="header"></header>
    <aside class="navbar-inverse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Mensajería <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/crear-mensaje">Crear</a></li>
                    <li><a href="#/panel/buzon-entrada">Entrada</a></li>
                    <li><a href="#/panel/mensajes-enviados">Enviados</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-money"></i> Pagos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/pagos-consignar">Consignar Pago (Usuario)</a></li>
                    <li><a href="#/panel/pagos-historial">Historial de Pagos (Usuario)</a></li>
                    <li><a href="#/panel/pagos-pendientes">Pagos Pendientes (Admin)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Usuarios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/usuario-crear">Crear</a></li>
                    <li><a href="#/panel/usuario-listado">Listado</a></li>
                    <li><a href="#/panel/usuario-recuperarContraseña">Recuperar Contraseña</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-usd"></i> Gastos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/gastos-actuales">Actuales (Administrador)</a></li>
                    <li><a href="#/panel/historial-gastos">Historial (Administrador)</a></li>
                </ul>
            </li>
            <!--                <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Servicios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/solicitudes-servicios">Solicitudes</a></li>
                    <li><a href="#/panel/historial-servicios">Historial</a></li>
                    <li><a href="#/panel/administrar-servicios">Administrar Servicios(A)</a></li>
                    <li><a href="#/panel/gestionar-servicios">Gestionar Servicios(A)</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Página principal <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/crear-seccion">Crear sección</a></li>
                    <li><a href="#/panel/listado-secciones">Listado secciones</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-minus-square-o"></i> Edificios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/agregar-edificio">Agregar</a></li>
                    <li><a href="#/panel/listado-edificios">Listado</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-minus-square-o"></i> Apartamentos <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/panel/inicio-apartamento">Inicio</a></li>
                    <li><a href="#/panel/agregar-apartamento">Agregar</a></li>
                    <li><a href="#/panel/listado-apartamentos">Listado</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <section id="page-wrapper">
        <div id="contenedor" class="col-sm-12" ui-view>
            <h1>Blank Page <small>A Blank Slate</small></h1>
            <ol class="breadcrumb">
                <li><a href="#/panel/login"><i class="icon-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="icon-file-alt"></i> Blank Page</li>
            </ol>
        </div>
    </section><!-- /#page-wrapper -->
</div>
