<script src="js/web/UsuarioModificarContrasenaCtrl.js"></script>
<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<h1>Modificar Contraseña</h1>
<div ng-include src="'partials/usuario-configuracion-menu.html'"></div>
<form class="form-horizontal" role="form" ng-submit="ModificarContrasena(claveModificado)" ng-controller="UsuarioModificarContrasenaCtrl">
    <div class="form-group col-sm-10">
        Contraseña Actual: <input type="password" name="claveactual" class="form-control" ng-model="claveModificado.Contrasena"/><br>
        Contraseña Nueva: <input type="password" name="clavenueva" class="form-control" ng-model="claveModificado.Nueva"/><br>
        Confirmacion Contraseña Nueva: <input type="password" name="clavecomprobar" class="form-control" ng-model="claveModificado.Comprobando"/><br>
    </div >

    <div class="form-group col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <center>
            <input type="submit" value="Aceptar" class="btn btn-primary  pull-right col-md-2" />
        </center>
    </div>
</form>
