<script src="js/web/UsuarioListadoCtrl.js"></script>
<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<div ng-controller="UsuarioListadoCtrl">
    <h1>Lista De Usuarios</h1>
    <div class="barra-pers2">
        Ordenar Por: <input list="ordenar">
        <datalist id="ordenar">
            <option value="Id"></option>
            <option value="Nombre"></option>
            <option value="Apto"></option>
        </datalist>
        Edif: <input list="edif">
        <datalist id="ordenar">

        </datalist>
        Apto: <input list="apto">
        <datalist id="ordenar">

        </datalist>
    </div>
    <form>
        <div class="list-group text-center">
            <div class="list-group-item row no-select active cabecera">
                <span class="badge pull-left">#</span>
                <p ng-dblclick="" class="col-xs-2">Nombre</p>
                <p ng-dblclick="" class="col-xs-2">Apellido</p>
                <p ng-dblclick="" class="col-xs-2">Cedula</p>
                <p ng-dblclick="" class="col-xs-3">Correo</p>
            </div>
            <div class="list-group-item row no-select" ng-repeat="element in datos.usuarios" >
                <span class="badge pull-left">{{element.ID}}</span>
                <p ng-dblclick="" class="col-xs-2">{{element.Nombre}}</p>
                <p ng-dblclick="" class="col-xs-2">{{element.Apellido}}</p>
                <p ng-dblclick="" class="col-xs-2">{{element.Cedula}}</p>
                <p ng-dblclick="" class="col-xs-3">{{element.Correo}}</p>
                <a class=" pointer" ng-click="usuariosVerDetalles(element)"><span class="glyphicon glyphicon-search" title="Ver detalles"></span></a>

                <a class=" pointer" ng-click="usuarioModificar(element)"><span class="glyphicon glyphicon-pencil" title="Modificar"></span></a>
                <a class="eliminarglyphicon pointer" ng-click="showModalBorrar(element)"><span class="glyphicon glyphicon-remove" title="Eliminar"></span></a>
            </div>
        </div>
    </form>
</div>