<script src="js/web/UsuarioListadoCtrl.js"></script>
<link rel="stylesheet" href="css/estilo-mariangela.css"/>
<div ng-controller="UsuarioListadoCtrl">
    <h1>Lista De Usuarios</h1>
    <div class="barra-pers2">
        <div class="row">
             <div class="col-md-3">Ordenar</div>
          <div class="col-md-3">Torre</div>
          <div class="col-md-3">Piso</div>
          <div class="col-md-3">Apartamento</div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <select ng-change="ordenarlistado()" ng-model="datos.orden" name="ordenar" ng-options="parametro.Nombre as parametro.Nombre for parametro in datos.ordenar" class="form-control" data-style="form-control">
                <option value="">--Ordenar Por--</option>
            </select>
        </div>
          <div class="col-md-3">
            <select ng-change="obtenerPisos()" ng-model="datos.query.idEdificio" name="edificio" ng-options="edificio.idEdificio as edificio.Nombre for edificio in datos.edificios" class="form-control" data-style="form-control">
                <option value="">-- Seleccione torre --</option>
            </select>
        </div>
        <div class="col-md-3">
            <select ng-change="obtenerApartamentos()" ng-model="datos.query.Piso" name="piso" ng-options="piso.Numero as piso.Numero for piso in datos.pisos" class="form-control" data-style="form-control">
            </select>

        </div>
        <div class="col-md-3">
            <select ng-model="datos.query.idapartamento" name="apartamento" ng-options="apartamento.idApartamento as apartamento.Nombre for apartamento in datos.apartamentos | filter:{Piso: datos.query.Piso, idEdificio: datos.query.idEdificio}" class="form-control" data-style="form-control">
            </select>
        </div>

    </div>
</div>
<form>
    <div class="list-group text-center">
        <div class="list-group-item row no-select active cabecera">
            <span class="badge pull-left">#</span>
            <p ng-click='predicate="Nombre"' class="col-xs-2">Nombre</p>
            <p ng-dblclick="" class="col-xs-2">Apellido</p>
            <p ng-dblclick="" class="col-xs-2">Cedula</p>
            <p ng-dblclick="" class="col-xs-3">Correo</p>
        </div>
        <div class="list-group-item row no-select" ng-repeat="element in datos.usuarios | orderBy:predicate | filter: datos.query" >
            <span class="badge pull-left">{{element.ID}}</span>
            <p ng-dblclick="" class="col-xs-2">{{element.Nombre}}</p>
            <p ng-dblclick="" class="col-xs-2">{{element.Apellido}}</p>
            <p ng-dblclick="" class="col-xs-2">{{element.Cedula}}</p>
            <p ng-dblclick="" class="col-xs-3">{{element.Correo}}</p>
            <a class=" pointer" ng-click="usuariosVerDetalles(element)"><span class="glyphicon glyphicon-search" title="Ver detalles"></span></a>

            <a class=" pointer" ng-click="usuarioModificar(element)"><span class="glyphicon glyphicon-pencil" title="Modificar"></span></a>
            <a class="eliminarglyphicon pointer" ng-click="showModalBorrar(element)"><span class="glyphicon glyphicon-remove" title="Eliminar"></span></a>
        </div>
    </div>
</form>
</div>